[project]
	description = Sample repository used only for testing gerrit and CI integration. Nothing useful inside.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sorin Sbarnea (ssbarnea)
	label-Code-Review = block -2..+2 group Change Owner
[access "refs/for/refs/*"]
	read = group github/rhos-infra
	push = group github/rhos-infra
	label-Code-Review = -2..+2 group github/rhos-infra
	label-Verified = -1..+1 group github/rhos-infra
	rebase = group github/rhos-infra
	removeReviewer = group github/rhos-infra
	submit = group github/rhos-infra
[access "refs/heads/*"]
	read = group github/rhos-infra
	create = group github/rhos-infra
	push = +force group github/rhos-infra
	pushMerge = group github/rhos-infra
[access "refs/tags/*"]
	push = group github/rhos-infra
	push = +force group github/rhos-infra
